{% extends 'web_save_app/base.html' %}
{% load my_filters %}
{% block page_header %}
	
	<a class="btn btn-primary" href="{% url 'web_save_app:new_transaction' %}" role="button">Add Transaction</a>
	<a class="btn btn-primary" href="{% url 'web_save_app:banker' %}" role="button">Back to Banker</a>
{% endblock page_header %}

{% block content %}
<h1>Saving info for {{user.username}}</h1>
<table>
<table class="table">
	<thead>
	<tr>
		<th scope = "col">Date</th>

		<th scope = "col">Amount</th>
		<th scope = "col">Goal</th>
		<th scope = "col">Category</th>
		<th scope = "col">Note</th>
		<th scope = "col">Edit Link</th>

	</tr>
	</thead>
	<tbody>
	{% for transaction in transactions %}
		<tr>
			<td>{{transaction.date_added|date:'M d, Y H:i'}}</td>
			<td>{{transaction.amount|currency}}</td>
			<td>{{transaction.goal_id.name}}</td>
			<td>{{transaction.category}}</td>
			<td>{{transaction.note|linebreaks }}</td>
			<td><a class="btn btn-primary" href="{% url 'web_save_app:edit_transaction' transaction.id %}" role="button">Edit Me</a></td>

		</tr>
	{% empty %}
	<p> No transactions have been added</p>
	{% endfor %}
	</tbody>
</table>

{% endblock %}